<div>
  <div>
    edit page
  </div>
  <%= image_tag  profile.avatar, class: 'avatar' %>
  <%= form_with model: profile do |f| %>
    <div>
      <%= f.label :avatar %><br>
      <%= f.file_field :avatar %>
      <% profile.errors.full_messages_for(:avatar).each do |message| %>
        <div><%= message %></div>
      <% end %>
    </div>
    <div>
      <%= f.submit %>
    </div>
  <% end %>
</div>