<div>

  <div>
    <span>Nick: <%= @profile.nickname  %></span>
  </div>
  <div>
    <span>Place: <%= @profile.place %></span>
  </div>
  <div>
    <span>Country: <%= @profile.country  %></span>
  </div>
  <div>
    <span>Elo: <%= @profile.elo  %></span>
  </div>
  <div>
    <span>K/D: <%= @profile.kd %></span>
  </div>
  <div>
    <span>Kills: <%= @profile.kills  %></span>
  </div>
</div>