<div class="learns">
  <div class="header">
    <h5>FIND THE ANSWER TO ANY QUESTION</h5>
    <h2>SUPPORT CENTER</h2>
    <%= form_tag  learns_path, method: :get do %>
      <%= text_field_tag :search, params[:search], class: "search", placeholder: "Enter your question or keyword…"%>
    <% end%>
  </div>
  <div class="body">
    <div class="menu">
      <h4>SUPPORT SECTION</h4>
      <ul>
        <li class="category">
          <span class="title">Updates</span>
        </li>
        <li class="category">
          <span class="title">Popular questions</span>
        </li>
        <li class="category">
          <span class="title">Questions about the site</span>
        </li>
        <li class="category">
          <span class="title">Server questions</span>
        </li>
        <li class="category">
          <span class="title">Project rules</span>
        </li>
      </ul>
    </div>
    <div class="lessons">
      <% if @learns.size.zero? %>
        <h4>ON REQUEST "<%= params[:search] %>" NOTHING FOUND</h4>
      <% else %>
        <% @learns.each do |learn| %>
          <div class="mt-5">
            <div class="mt-5 learn-show">
              <div class="d-flex justify-content-between align-items-center">
                <h1 class="title"><%= learn.title %></h1>
                <span class="date"><%= date_format(learn.created_at) %></span>
              </div>
              <div class="content">
                <%= sanitize learn.content %>
              </div>
            </div>
          </div>
        <%end%>
      <% end %>
    </div>
  </div>
</div>
