<header class="d-flex align-items-center justify-content-between">
  <div class="d-flex align-items-center">
    <div class="d-flex gap-sm-4 socials mr-1">
      <%= image_tag "https://cloud.cybershoke.net/img/socials/vk.svg", class: "social ", alt: "VK" %>
      <%= image_tag "https://cloud.cybershoke.net/img/socials/instagram.svg", class: "social", alt: "Instagram"%>
      <%= image_tag "https://cloud.cybershoke.net/img/socials/twitter.svg", class: "social", alt: "Twitter" %>
      <%= image_tag "https://cloud.cybershoke.net/img/socials/discord.svg", class: "social", alt: "Discord" %>
      <%= image_tag "https://cloud.cybershoke.net/img/socials/youtube.svg", class: "social", alt: "YouTube" %>
    </div>
    <button class="btn btn-warning h-50 mx-4 fs-6">
      <%= t('header.prem_btn') %>
    </button>
  </div>

  <% if user_signed_in? %>
    <%= button_to  "Sign out", destroy_user_session_path, data: { turbo_confirm: "Are you sure?" }, method: :delete %>
  <% else %>

    <%= button_to 'LOGIN WITH STEAM', new_user_session_path, class: "btn btn-primary h-50  mx-4 fs-6" %>
  <% end %>
</header>
