<div class="sidebar d-flex flex-column justify-content-between">
  <div class="logo">
    <%= link_to home_path do %>
      <%= load_svg('logo.svg') %>
    <% end %>
    <span class="count-online"><%= total_online %></span>
  </div>
  <div class="d-flex flex-column">
    <%= link_to home_path, class: "item"  do %>
      <div class="icon w-m-1rem">
        <%= load_svg('home1.svg') %>
      </div>
      <div>Play</div>
    <% end %>
    <%= link_to '#', class: "item"  do %>
      <div class="icon w-m-1rem">
        <%= load_svg('prem.svg') %>
      </div>
      <div>PREMIUM</div>
    <% end %>
    <%= link_to '#', class: "item"  do %>
      <div class="icon w-m-1rem">
        <%= load_svg('missions-outline-1.svg') %>
      </div>
      <div>Missions</div>
    <% end %>
    <%= link_to '#', class: "item"  do %>
      <div class="icon w-m-1rem">
        <%= load_svg('leaderboard.svg') %>
      </div>
      <div>Leaderboard</div>
    <% end %>
    <%= link_to '#', class: "item"  do %>
      <div class="icon w-m-1rem">
        <%= load_svg('shop.svg') %>
      </div>
      <div>Store</div>
    <% end %>
    <%= link_to '#', class: "item"  do %>
      <div class="icon w-m-1rem">
        <%= load_svg('learn.svg') %>
      </div>
      <div>Help</div>
    <% end %>
  </div>
  <div class="item">
    <div>LANGUAGE</div>
    <div class="icon w-m-1rem">
      <%= load_svg('en.svg') %>
    </div>
  </div>
</div>
