<%= form_with model: [:admin, map] do |f| %>
  <div>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
    <% map.errors.full_messages_for(:name).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>
  <div>
    <%= f.label :main_image %><br>
    <%= f.file_field :main_image %>
    <% map.errors.full_messages_for(:main_image).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>
  <div>
    <%= f.submit %>
  </div>
<% end %>