<div>
  <%= turbo_frame_tag "server-modal" %>
  <%= render partial: "servers/modes/shared/servers-routing", locals: { modes: } %>
  <%= render partial: "servers/modes/shared/filters", locals: { maps:, mode:, modes:, servers: } %>
  <% if servers.size.zero? %>
    <div class="container">
      <div class="no-found-servers">
        <div class="warning"><%= load_svg('warning') %></div>
        <h1 class="title">NO SERVERS <span>FOUND</span></h1>
        <div class="description">There are no servers according to the specified parameters.</div>
        <%= link_to  params.to_unsafe_h.except(:map, :prime, :free, :search), class: "button" do %>
          <div class="reset"><%= load_svg('reset') %></div>
          <span>DEFAULT</span>
        <% end%>
      </div>
    </div>
  <% else %>
    <div class="d-flex gap-sm-3">
      <% servers.each do |server| %>
        <%= content_tag :div, data: { controller: "test", action: 'click->test#opp', 'test-name-value': server }, class: "d-flex p-2 justify-content-between horizontal-card #{(params[:prime].nil? || params[:prime] == 'on') && 'prime-border'}" do %>
          <%= link_to mode_server_path(mode.slug, server.id), data: { turbo_frame: 'server-modal' }, class: "text-decoration-none"  do %>
            <div class="fs-5 text-white"><%= server.name%></div>
              <div class="d-flex gap-sm-2 text-white">
                <%= image_tag "https://cybershoke.net/storage/images/icons-svg/people-outline.svg", class: "fs-1 w-m-1rem" %>
                <div class="opacity-50"><%= server.count_users%>/30</div>
                <div class="opacity-50"><%= server.map.name %></div>
              </div>
          <% end %>
          <%= image_tag server.map.main_image  %>
          <div>
            <div class="fs-5">
              <%= image_tag "https://cloud.cybershoke.net/img/copy.png" %>
            </div>
            <div class="fs-5">
              <%= link_to "steam://connect/46.174.54.179:27023", alt: "connect" do %>
                <%= image_tag "https://cloud.cybershoke.net/img/play-btn.png" %>
              <% end %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>
