<div class="d-flex gap-sm-3 ">
  <% @mode.servers.each do |server| %>
      <div class="d-flex p-2 justify-content-between horizontal-card">
        <div>
          <div class="fs-5"><%= server.name%></div>
          <div class="d-flex gap-sm-2">
            <%= image_tag "https://cybershoke.net/storage/images/icons-svg/people-outline.svg", class: "fs-1 w-m-1rem" %>
            <div class=" opacity-50"><%= server.count_users%>/30</div>
            <div class="opacity-50"><%= server.map.name %></div>
          </div>
        </div>
        <%= image_tag server.map.image  %>
        <div>
          <div class="fs-5">
            <%= image_tag "https://cloud.cybershoke.net/img/copy.png" %>
          </div>
          <div class="fs-5">
            <%= link_to "steam://connect/46.174.54.179:27023", alt: "connect" do %>
              <%= image_tag "https://cloud.cybershoke.net/img/play-btn.png" %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
</div>
