<!DOCTYPE html>
<html>
  <head>
    <title>CsNak</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta charset="UTF-8">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <%= javascript_include_tag Ckeditor.cdn_url %>
  </head>
  <header class="d-flex bg-dark align-items-center justify-content-between">
    <div class="d-flex align-items-center">
      <%= link_to "Maps", admin_maps_path, class: "text-decoration-none text-white" %>
      <%= link_to "Learns", admin_learns_path, class: "ms-2 text-decoration-none text-white" %>
    </div>
  </header>
  <%= render "shared/sidebar" %>
  <%= render 'shared/flash' %>
  <body class="main">
    <%= turbo_frame_tag "modal" %>
    <div class="wrap">
      <%= yield %>
      <%= render "shared/footer" %>
    </div>
  </body>
</html>
