<!DOCTYPE html>
<html>
  <head>
    <title>CsNak</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <%= link_to root_path  do %>
      <%= load_svg('logo.svg') %>
  <% end %>
  <header class="d-flex align-items-center justify-content-between">
    <div class="d-flex align-items-center">
      <div class="d-flex gap-sm-4 socials mr-1">
        <%= image_tag "https://cloud.cybershoke.net/img/socials/vk.svg", class: "social ", alt: "VK" %>
        <%= image_tag "https://cloud.cybershoke.net/img/socials/instagram.svg", class: "social", alt: "Instagram"%>
        <%= image_tag "https://cloud.cybershoke.net/img/socials/twitter.svg", class: "social", alt: "Twitter" %>
        <%= image_tag "https://cloud.cybershoke.net/img/socials/discord.svg", class: "social", alt: "Discord" %>
        <%= image_tag "https://cloud.cybershoke.net/img/socials/youtube.svg", class: "social", alt: "YouTube" %>
      </div>
      <button class="btn btn-warning h-50 mx-4 fs-6">
        GET PREMIUM
      </button>
    </div>
    <button class="btn btn-primary h-50  mx-4 fs-6">
      LOGIN WITH STEAM
    </button>
  </header>
  <body class="m-3 text-white">
    <%= yield %>
  </body>
</html>
