<!DOCTYPE html>
<html>
  <head>
    <title>CsNak</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta charset="UTF-8">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>
  <header class="d-flex align-items-center justify-content-between">
    <div class="d-flex align-items-center">
      <div class="d-flex gap-sm-4 socials mr-1">
        <%= image_tag "https://cloud.cybershoke.net/img/socials/vk.svg", class: "social ", alt: "VK" %>
        <%= image_tag "https://cloud.cybershoke.net/img/socials/instagram.svg", class: "social", alt: "Instagram"%>
        <%= image_tag "https://cloud.cybershoke.net/img/socials/twitter.svg", class: "social", alt: "Twitter" %>
        <%= image_tag "https://cloud.cybershoke.net/img/socials/discord.svg", class: "social", alt: "Discord" %>
        <%= image_tag "https://cloud.cybershoke.net/img/socials/youtube.svg", class: "social", alt: "YouTube" %>
      </div>
      <button class="btn btn-warning h-50 mx-4 fs-6">
        <%= t('header.prem_btn') %>
      </button>
    </div>
    <button class="btn btn-primary h-50  mx-4 fs-6">
      LOGIN WITH STEAM
    </button>
  </header>
  <div class="sidenav d-flex flex-column justify-content-between">
    <div>
      <%= link_to home_path do %>
        <%= load_svg('logo.svg') %>
      <% end %>
      <span class="count-online">3000</span>
    </div>
    <div>
      <div class="lang">
        <%= link_to home_path do %>
          <div class="lang-icon w-m-1rem">
            <%= load_svg('home1.svg') %>
          </div>
          <div>Play</div>
        <% end %>
      </div>
      <div class="lang">
        <div class="lang-icon w-m-1rem">
          <%= load_svg('prem.svg') %>
        </div>
        <div>PREMIUM</div>
      </div>
      <div class="lang">
        <div class="lang-icon w-m-1rem">
          <%= load_svg('missions-outline-1.svg') %>
        </div>
        <div>Missions</div>
      </div>
      <div class="lang">
        <div class="lang-icon w-m-1rem">
          <%= load_svg('leaderboard.svg') %>
        </div>
        <div>Leaderboard</div>
      </div>
      <div class="lang">
        <div class="lang-icon w-m-1rem">
          <%= load_svg('shop.svg') %>
        </div>
        <div>Store</div>
      </div>
      <div class="lang">
        <div class="lang-icon w-m-1rem">
          <%= load_svg('learn.svg') %>
        </div>
        <div>Help</div>
      </div>
    </div>
    <div class="lang">
      <div>LANGUAGE</div>
      <div class="lang-icon w-m-1rem">
        <%= load_svg('en.svg') %>
      </div>
    </div>
  </div>
  <%= render 'shared/flash' %>
  <body class="text-white">
    <div class="wrap">
      <%= yield %>
      <%= render "shared/footer" %>
    </div>
  </body>
</html>
